@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

@media (width: 850px) {
  .btn-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}

.success-msg {
  width: 100%;
  padding: 14px;
  background-color: #dff0d8;
  color: #468847;
}

.error-msg {
  width: 100%;
  padding: 14px;
  background-color: #f0d0d3;
  color: #df786f;
}

.link {
  text-decoration: none;
}

/* navbar */
.navbar {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  background: rgb(241 241 241 / 50%);
}

.SocialLogo{
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
}

@media (max-width: 450px) {
  .navbar  {
    flex-direction: column;
    justify-content: center;
  }
  .navbar .logo img {
    margin: -25% 0 0 -40vw;
  }
  .slider{
    max-height: 50vh;
    min-width: 100vw;
  }

}

@media (max-width: 1920px) {
  .slider{
    display: block;
    width: 100vw;
    height: 90vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    background-position: center;
    background-size: cover;
  }
}

.cart {
  margin: auto;
}

.navbar .logo {
  width: 100px;
  height: auto;
}

.navbar .logo img {
  width: 100%;
  height: 100%;
  margin-top: -25px;
}

.navbar .rightside {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  margin-right: 24px;
  align-items: center;
}

@media (max-width: 450px) {
  .navbar .rightside {
    justify-content: center;
    margin: -8vh 0 0 50px;
  }
}

.navbar .rightside div {
  margin: 0px 10px;
}


.navbar .rightside div .navlink {
  display: inline-block;	
	box-sizing: border-box; 
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.navlink:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.navlink:hover{
  transform: scale(1.05);
  transition: 55ms;
}
.navlink:active {
	transform: scale(1);
  transition: 45ms;
}

.navlinkk {
  color: black;
  padding-right: 15px;
}
/* products */
.products-box {
  width: 80%;
  max-height: 850px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.products-box.cart {
  height: auto;
  overflow-y: auto;
}

@media (max-width: 540px) {
  .products-box {
    height: auto;
  }
}

.product {
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
  padding: 12px;
  border-radius: 10px;
  background: rgb(241 241 241 / 50%);
}

.product:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .product {
    width: 300px;
  }
}

.product .product-img {
  width: 180px;
  height: 215px;
}

.product .product-img img {
  width: 100%;
  height: 100%;
}

.product .product-text {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.product .product-text.title {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}

.product .product-text.description {
  height: 50px;
  overflow: hidden;
}

.product .product-text.price {
  font-weight: 600;
}

.product .product-text.cart-price {
  font-weight: 600;
  color: #ffffff;
}

.cart-btn {
  background-color: #000000 !important;
}

.cart-menu-btn {
  position: relative;
}

.btn.btn-danger {
  border-color: black;
  background-color: #000;
}

.cart-menu-btn .cart-indicator {
  width: 18px;
  background-color: #e00a02;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  position: absolute;
  top: -17px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .quantity-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 5px;
  border: 1px solid #b9b5b5;
  border-radius: 8px;
}

.product .quantity-box .action-btns {
  font-weight: 600;
  cursor: pointer;
}

/* summary box */
.summary-box {
  width: 300px;
  margin: 30px auto;
  border: 1px solid #b9b5b5;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: rgb(241 241 241 / 50%);
  border-radius: 10px;
}

.summary-box h5 {
  display: flex;
  border-bottom: 1px solid #e00a02;
  text-align: center;
  padding: 0px;
}

.summary-box div {
  display: flex;
  justify-content: space-between;
}

/* modal css */
.shade-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Containerr {
  margin: 150px auto;
  border-radius: 12px;
  height: 95%;
  width: 25%;
  background: linear-gradient(
    0deg,
    rgba(89, 89, 89, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.Containerrr {
  margin: 2% auto;
  border-radius: 12px;
  height: 95%;
  width: 70%;
  background: linear-gradient(
    0deg,
    rgba(89, 89, 89, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.hr {
  height: 5px;
}

.btn {
  background-color: red;
}
.modal-container {
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.delete-icon {
  background-color: #e00a02;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

/* modal css */
.shade-area {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 300px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  position: relative;
}

.delete-icon {
  background-color: #e00a02;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

/* filter */
.filter-products-main-box {
  width: 100%;
  display: flex;
}

@media (max-width: 540px) {
  .filter-products-main-box {
    flex-direction: column;
  }
}

.filter-products-main-box .my-products {
  flex: 3.3;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background: linear-gradient(
    0deg,
    rgba(89, 89, 89, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  max-width: 90%;
  border-radius: 50px;
}

.settings-button{
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 15px 15px 0;
	outline: none;
	border: none;  
	border-radius: 6px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	background-color: #3f3f3f;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.settings-button:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.settings-button:hover {
	background-color: #DBE7F2;
  color: #000;
}
.settings-button:active {
	transform: scale(0.96);
}


.Vern-2 {
  width: 500px;
    margin: -68px 0 0 155px;
}

.dropbtn-2 {
  background: rgb(241 241 241 / 50%);
  color: black;
  padding: 19px;
  font-size: 18px;
  border: 0;
  border-radius: 18px;
  margin: 0 0 0 8px;
}
.dropbtn-2:focus{
  background: white;
}




@media (max-width: 540px) {
  .filter-products-main-box .my-products {
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
  }
}

.my-products .please-wait {
  color: white;
}

@media (max-width: 540px) {
  .filter-box {
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
  }

  .dropbtn{
    display: none;
  }

  .open-btn {
    background: rgb(241 241 241 / 50%);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 0;
    border-radius: 18px;
    margin: 0 0 0 5px;
  }

  .navbar .rightside {
      justify-content: center;
      margin: -8vh 0 0 20vw;
  }
  .slider{
    max-height: 50vh;
    min-width: 100vw;
  }
}

.filter-box h6 {
  font-weight: 600;
  margin-bottom: 20px;
}

.carousel-control-prev, .carousel-control-next{

  width: 5%;
  height: 250px;
  margin: auto;
}

.carousel-caption{
  height: 90vh;
  margin-right: 600px;
  transform: translate(80vh,70vh);
}
@media(max-width: 560px) {
  .menu-carousel{
    transform: translate(45vh,20vh);
  }
  .dropbtn {
    display: none;
  }
  .navbar  {
    flex-direction: column;
    justify-content: center;
  }
  .navbar .logo img {
    margin: -25% 0 0 -40vw;
  }
  .slider{
    max-height: 50vh;
    min-width: 100vw;
  }
  .navbar .rightside{
    margin: -60px 0 0 50px;
  }
}

.menu-carousel{
  font-size: clamp(2.5rem,10vw,5rem);
  margin-bottom: 1rem;
  box-shadow: 3px 5px #e9ba23;
  margin: 0 0 0 -250px;
  
}
.filter-box span {
  cursor: pointer;
  margin: 15px 0px;
  font-size: 14px;
}

.filter-box span.ElectronicDevices {
  color: #e00a02;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: -15px;
}

.dropbtn {
  background: rgb(241 241 241 / 50%);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 0;
  border-radius: 18px;
  margin: 0 0 0 3px;
}

.dropbtn:focus-visible {
	box-shadow: 0 0 0 2px #666;
}
.dropbtn:hover {
	background-color: #ffffff;
  color: #000;
}
.dropbtn:active {
	transform: scale(0.96);
}

.Desserts {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.Sauces {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.TheDrinks {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.Burgers {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.LunchBox {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.Combo {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.PotatoNuggets {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.deactive {
  background: rgb(241 241 241 / 50%);
  color: black;
  padding: 16px;
  font-size: 20px;
  border: 0;
  border-radius: 18px;
}

.dropbtn {
  font-size: 18px;
  width: 160px;
  height: 60px;
}

.dropdown-content {
  position: absolute;
  width: max-content;
  height: 60px;
  z-index: 1;
  border-radius: 18px;
  cursor: pointer;
  margin: -67px 0 0 268px;
  padding: 15px;
  font-size: 20px;
}
.dropdown-content2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



.dropdown {
  height: 50px;
  width: 100px;
}

.delete-product-container {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 0 20px;
}


.order-item-container {
  
  color: white;
  
  border: 5px solid skyblue;
  border-image: linear-gradient(to right top, rgb(136, 136, 136), rgb(255, 39, 39), rgb(255, 255, 255));
  border-image-slice: 1;
  
  
}

.order-item-container-products {
  padding: 10px 0;
}

.order-product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.order-product-img {
  width: 100px;
  height: 100px;

}

.order-product-img img {
  object-fit: cover;
  width: 125%;
  height: 105%;
  margin: 0 0 0 10px;
}

.order-product-text.price {
  margin-right: 10px;
}

.order-list-container {
  margin: 0 auto;
}

.order-product-text.description{
  width: 200px;
    
}

.order-product-text.title{
  margin: 0 0 0 -15%;
  width: 100px;
}

.filter-box span.MobileAccessories {
  color: #e00a02;
}

.filter-box span.TVAndHomeAppliances {
  color: #e00a02;
}

.filter-box span.SportsAndOutdoors {
  color: #e00a02;
}

.HealthAndBeauty,
.HomeAndLifestyle,
.MensFashion,
.WatchesBagsAndJewellery,
.Groceries {
  color: #e00a02;
}

.text-center {
  color: #d0d0d0;
  text-shadow: 2px 2px grey;
}

.container-fluid {
  color: white;
  margin-right: 50%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}







