@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background: url('./Images/asd.jpg');
    }

.container{
    color: white;
}

@media (max-width: 450px) {
    .Containerr {
        width: 80vw;
    }
    .btn {
        width: 15vw;
        height: 5vh;
    }
    .btn-dark {
        width: 65px;
    }
    .btn5 {
        margin: 0 0 0 -8%;
    }
    .regist {
        margin: 0 0 0 -10px;
    }
}